In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('data.db')

In [3]:
# Create Table
conn.execute('''CREATE TABLE Hospital_record(
    Customer_Name VARCHAR(255) NOT NULL,
    Customer_Id VARCHAR(18) PRIMARY KEY NOT NULL,
    Open_Date DATE(8) NOT NULL,
    Last_Consulted_Date DATE(8),
    Vaccination_Type CHAR(5),
    Doctor_Consulted CHAR(255),
    State CHAR(5),
    Country CHAR(5),
    Post_Code INT(5),
    DOB DATE(8),
    Active_Customer CHAR(1))
    ''')

In [4]:
#insert data
conn.execute('''INSERT INTO hospital_record VALUES ('Alex','123457','20101012','20121013','MVD','Paul','SA','USA',42516,'06031987','A')''')
conn.execute('''INSERT INTO hospital_record VALUES ('John','123458','20101012','20121013','MVD','Paul','TN','IND',42587,'06031987','A')''')
conn.execute('''INSERT INTO hospital_record VALUES ('Mathew','123459','20101012','20121013','MVD','Paul','WAS','PHIL',45289,'06031987','A')''')
conn.execute('''INSERT INTO hospital_record VALUES ('Matt','12345','20101012','20121013','MVD','Paul','BOS','NYC',45127,'06031987','A')''')
conn.execute('''INSERT INTO hospital_record VALUES ('Jacob','1256','20101012','20121013','MVD','Paul','VIC','AU',49875,'06031987','A')''')

In [5]:
# Dataload in CSV
query1 = '''select * from Hospital_record'''
df = pd.read_sql_query(query1,conn)
dataframe = pd.DataFrame(df)
dataframe.to_csv("hospital_records.csv",sep='|',index=False)

In [6]:
data = pd.read_csv("hospital_record.csv")
data

  Customer_Name|Customer_Id|Open_Date|Last_Consulted_Date|Vaccination_Type|Doctor_Consulted|State|Country|Post_Code|DOB|Active_Customer
0  Alex|123457|20101012|20121013|MVD|Paul|SA|USA|...
1  John|123458|20101012|20121013|MVD|Paul|TN|IND|...
2  Mathew|123459|20101012|20121013|MVD|Paul|WAS|P...
3  Matt|12345|20101012|20121013|MVD|Paul|BOS|NYC|...
4  Jacob|1256|20101012|20121013|MVD|Paul|VIC|AU|4...

In [8]:
# Distinct countries
query2='''SELECT DISTINCT Country FROM Hospital_record'''
Countries = conn.execute(query2)
Countries

In [9]:
countrie = []
for i in Countries:
  countrie.append(i[0])
countrie

['USA', 'IND', 'PHIL', 'NYC', 'AU']

In [10]:
# Create Table Per Country wise
for i in range(len(countrie)):
  conn.execute('CREATE TABLE "{}" AS SELECT * FROM Hospital_record WHERE Country = "{}"'.format(countrie[i],countrie[i]))

In [11]:
# Example For India Country
country = conn.execute('''select * from IND''')
for row in country:
  print(row)

('John', '123458', 20101012, 20121013, 'MVD', 'Paul', 'TN', 'IND', 42587, 6031987, 'A')